*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
#toggles {
  width: 80px;
  text-align: center;
}
img {
  width: 100%;
  max-width: 100%;
}
.ios-toggle,
.ios-toggle:active {
  position: absolute;
  top: -5000px;
  height: 0;
  width: 0;
  opacity: 0;
  border: none;
  outline: none;
}
.logo {
  width: 90px;
  margin-bottom: 26px;
}
.logo-link {
  width: 100%;
}
.checkbox-label {
  display: block;
  position: relative;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  height: 16px;
  border-radius: 18px;
  background: #c9a7a700;
  cursor: pointer;
  margin-left: 24px;
  border: 2px solid white;
}

.checkbox-label:before {
  margin-left: auto;
  transition: 0.5s;
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  line-height: 34px;
  text-indent: 40px;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  top: 0px;
  left: 0px;
  right: auto;
  background: rgb(255, 255, 255);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 0 0 2px #dddddd00;
}

.checkbox-label:after {
  margin-left: 24px;
  content: attr(data-off);
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  width: 0;
  text-align: right;
  color: #bfbfbf00;
  white-space: nowrap;
}

.ios-toggle:checked + .checkbox-label {
  margin-left: 24px;
  box-shadow: inset 0 0 0 20px rgba(175, 175, 175, 0),
    0 0 0 2px rgba(175, 175, 175, 0);
}

.ios-toggle:checked + .checkbox-label:before {
  transition: 0.5s;
  left: calc(100% - 24px);
  box-shadow: 0 0 0 2px transparent, 0 3px 3px rgba(0, 0, 0, 0.3);
}

.ios-toggle:checked + .checkbox-label:after {
  content: attr(data-on);
  left: 60px;
  width: 36px;
}

#checkbox1 + .checkbox-label {
  transition: 0.5s;
  box-shadow: inset 0 0 0 0px rgba(175, 175, 175, 0), 0 0 0 2px #dddddd00;
}

#checkbox1:checked + .checkbox-label {
  box-shadow: inset 0 0 0 18px rgba(175, 175, 175, 0),
    0 0 0 2px rgba(175, 175, 175, 0);
}

#checkbox1:checked + .checkbox-label:after {
  color: rgba(175, 175, 175, 0);
}
body {
  max-height: 100vh;
  color: white;
  background: rgb(62, 62, 62);
  background: radial-gradient(
    circle,
    rgba(62, 62, 62, 1) 0%,
    rgba(16, 16, 16, 1) 100%
  );
  font-family: "PT Sans", sans-serif;
  margin-top: 20px;
}
.d-flex {
  display: flex;
}
.option-wrap {
  justify-content: space-between;
  margin: 0 auto;
  width: 500px;
}
select {
  width: 100%;
}
.frame-glass-wrap {
  transition: 0.3s;
  position: relative;
}
.window-wrap {
  padding-top: 20px;
}

.window {
  margin: 20px;
  transition: 0.5s;
  margin-right: auto;
  cursor: pointer;
  margin-bottom: 48px;
  width: 80px;
  height: 80px;
  opacity: 0.5;
  margin-top: 0;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.5));
}
.window:last-of-type {
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.5));
}
.add-pos-dis {
  display: flex;
  display: none;
  cursor: auto;
  text-transform: uppercase;
  color: #000;
  border: none;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background: white;
  opacity: 0.7;
  transition: 0.5s;
  margin-left: auto;
  width: 109px;
  height: 72px;
  margin-top: 0;
}

.add-pos-dis-sm {
  cursor: auto;
  text-transform: uppercase;
  color: #000;
  border: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: white;
  opacity: 0.7;
  transition: 0.5s;
  margin-left: auto;
  height: 72px;
  margin-top: 0;
}
.add-pos-act {
  opacity: 1;
  cursor: pointer;
}

.add-simbol {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}
.add-simbol:first-child {
  font-size: 40px;
  font-weight: normal;
  padding-bottom: 8px;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.toggle-text {
  text-align: center;
  height: 32px;
  width: 80px;
  margin-left: 20px;
  color: #000;
  background: white;
  margin-bottom: 48px;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.15em;
}
.window:hover {
  opacity: 1;
}
.window--active {
  animation: fade 0.5s linear;
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.5));
  opacity: 1;
}
.window-glass {
  position: absolute;
  background-position: center center;
  margin: 0 auto;
  z-index: -1;
  margin-top: 20px;
  width: 210px;
  height: 432px;
  transform: translate(83%, 13%);
}
.window-glass-double {
  position: absolute;
  background-position: center center;
  margin: 0 auto;
  z-index: -1;
  margin-top: 20px;
  width: 396px;
  height: 420px;
  transform: translate(20%, 10%);
}

.window-glass-triple {
  position: absolute;
  background-position: center center;
  margin: 0 auto;
  z-index: -1;
  margin-top: 20px;
  width: 476px;
  height: 320px;
  transform: translate(10%, 40%);
}
.window-glass-quad {
  position: absolute;
  background-position: center center;
  margin: 0 auto;
  z-index: -1;
  margin-top: 20px;
  width: 400px;
  height: 400px;
  transform: translate(20%, 18%);
}
.table-window-glass {
  position: absolute;
  background-position: center center;
  margin: 0 auto;
  z-index: -1;
  width: 68px;
  height: 142px;
  transform: translate(85%, 14%);
}
.table-window-glass-double {
  position: absolute;
  background-position: center center;
  margin: 0 auto;
  z-index: -1;
  width: 140px;
  height: 129px;
  transform: translate(18%, 18%);
}
.table-window-glass-triple {
  position: absolute;
  background-position: center center;
  margin: 0 auto;
  z-index: -1;
  width: 149px;
  height: 115px;
  transform: translate(11%, 35%);
}
.table-window-glass-quad {
  position: absolute;
  background-position: center center;
  margin: 0 auto;
  z-index: -1;
  width: 136px;
  height: 129px;
  transform: translate(18%, 19%);
}
.window-frame {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  width: 560px;
  height: 560px;
}
.window-frame-mirror {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  width: 560px;
  height: 560px;
}
.table-window-frame {
  margin: 0 auto;
  width: 182px;
  height: 178px;
}
.animation--active {
  animation: fade 1s linear;
}
.table-text {
  display: block;
  font-size: 18px;
  line-height: 28px;
}
.multiplier-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.multiplier-count {
  padding: 0 16px;
}
.table-image {
  max-width: fit-content;
  width: 26px;
  height: 30px;
}
.button-table-trash {
  border: none;
  background: transparent;
}
.border-bot {
  overflow: visible;
  position: absolute;
  width: 90%;
  height: 1px;
  background: white;
  padding: 0;
  left: 2%;
}
.table-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  padding-bottom: 8px;
}
.head-table-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  padding-bottom: 24px;
}
.uah-wrap {
  position: relative;
}
.result-text-uah {
  cursor: pointer;
  font-weight: bold;
}
.warning-block-uah {
  position: absolute;
  color: white;
  z-index: 3;
  padding: 16px;
  font-size: 18px;
  text-align: center;
  background: black;
  bottom: 80%;
  right: 0%;
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.25);
}
.table-price {
  white-space: nowrap;
  text-align: right;
  width: 31%;
  position: absolute;
  bottom: -1%;
  right: 2%;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  display: none;
}
.cart-wrap {
  height: 96vh;
  position: relative;
}
.cart-info-wrap {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
@keyframes radial-pulse {
  0% {
    box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
  }
  100% {
    box-shadow: 0px 0px 16px 1px rgb(255, 255, 255);
  }
}
.main-order-button {
  border: 2px solid white;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  background: #fff;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  padding: 28px 16px;
}

.total-result-wrap {
  white-space: nowrap;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000;
  background: #fff;
  padding: 22px 32px;
  margin-right: 24px;
  display: none;
}
.result-text {
  font-size: 18px;
  line-height: 28px;
}
.result-price {
  padding-left: 8px;
  padding-right: 8px;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
.resul-wrap {
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer-text {
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}
.table-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: 240px;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
}
.main-table {
  margin: 0 auto;
  margin-top: 40px;
  height: 100px;
}
tbody tr {
  border: 2px solid white;
}

table tr > * {
  display: table-cell;
}
tbody td {
  border: 2px solid white;
  padding: 16px;
  height: 300px;
}
.table-cell-wrap {
  position: relative;
  height: 100%;
}
.table-product {
  width: 455px;
}
.table-desc {
  width: 570px;
}
.table-count {
  width: 225px;
}
thead {
  border: none;
}
.arrow-left {
  max-width: none;
  z-index: 2;
  position: absolute;
  left: 0;
  top: -4px;
  width: 7px;
}
.arrow-right {
  max-width: none;
  z-index: 2;
  top: -4px;
  position: absolute;
  right: 0;
  width: 7px;
  transform: rotate(180deg);
}
.border-right {
  overflow: visible;
  top: 3%;
  right: 5px;
  position: absolute;
  padding: 0;
  width: 1px;
  height: 536px;
  background: white;
}
.block-width {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  background: black;
  border: 1px solid white;
  width: 96px;
  height: 16px;
  transform: translate(-50%, -50%);
  font-size: 10px;
  text-align: center;
}
.block-height {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: -50%;
  background: black;
  border: 1px solid white;
  width: 16px;
  height: 96px;
  transform: translate(-50%, -50%);
}
.arrow-top {
  max-width: none;
  z-index: 2;
  position: absolute;
  top: -6px;
  left: -3px;
  width: 7px;
  transform: rotate(90deg);
}
.reverse-text {
  height: 100%;
  text-align: center;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  font-size: 10px;
}
.arrow-bot {
  max-width: none;
  z-index: 2;
  position: absolute;
  bottom: -8px;
  left: -3px;
  width: 7px;
  transform: rotate(-90deg);
}
.choice-window-block {
  margin-top: 16px;
}

.dark-body {
  height: 100vh;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 100vh;
  z-index: 8;
  background: rgba(16, 16, 16, 0.5);
}
.pre-message-title {
  margin-top: 280px;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
}
.thak-title {
  margin-top: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-title {
  margin: 0;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 24px;
}
.second-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  padding-top: 40px;
  padding-bottom: 24px;
}
.main-input {
  padding: 8px 16px;
  color: white;
  background: transparent;
  border: 2px solid #ffffff;
  width: 100%;
}
.form-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.main-form {
  padding-top: 1px;
}
.main-form-input {
  display: block;
  width: 80%;
  margin: 0 auto;
  margin-top: 16px;
  padding: 8px 16px;
  padding-left: 0;
  color: white;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
}
.main-form-input::placeholder {
  color: white;
}
.submit-button {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  width: 300px;
  height: 72px;
  background: transparent;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #ffffff;
}
.info-wrap {
  display: flex;
  align-items: center;
  position: relative;
}
.main-input::placeholder {
  color: white;
}
.second-title-wrap {
  align-items: center;
}
.main-select {
  color: white;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  padding-bottom: 8px;
  margin-bottom: 16px;
}
.main-select option {
  background: #000;
}
i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.arrow {
  cursor: pointer;
  padding: 10px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.custom-col-frame {
  padding-right: 40px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.choice-options {
  margin: 0 auto;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.d-inline {
  margin: 0;
  padding-top: 24px;
  padding-bottom: 24px;
  display: inline;
}
.choice-text {
  margin-bottom: 4px;
  text-align: center;
  width: 100%;
}
.hidden {
  transition: 0.5s;
  display: none;
}
.choice-wrap {
  text-align: center;
  width: 85%;
  padding-bottom: 4px;
  border-bottom: 2px solid white;
}
.info {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding-left: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
.info-cart {
  filter: invert(1);
  width: 16px;
  cursor: pointer;
  margin-right: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  border-radius: 50%;
}
.warning-block {
  z-index: 3;
  padding: 16px;
  font-size: 18px;
  text-align: center;
  background: black;
  position: absolute;
  left: 10%;
  top: 60px;
  width: 360px;
  height: 120px;
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.25);
}
.warning-block-cart {
  white-space: normal;
  color: white;
  z-index: 3;
  padding: 16px;
  font-size: 18px;
  text-align: center;
  background: black;
  position: absolute;
  bottom: 100%;
  right: 27%;
  width: 480px;
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.25);
}
.button-toggle {
  padding: 5px;
  border: none;
  background: transparent;
}
.button-right-arrow {
  transform: scale(-1, 1);
}
.main-form {
  background: #000;
  width: 640px;
  padding: 24px;
  height: 464px;
}
.cart-message {
  background: rgba(16, 16, 16, 0.719);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 700px;
  height: 216px;
  font-weight: normal;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  padding: 40px;
}
.cart-main-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 48px;
  padding-bottom: 40px;
  line-height: 64px;
}
.button-back {
  color: white;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  background: transparent;
  padding: 16px 94px;
  font-size: 16px;
  line-height: 24px;
}
.main-button {
  width: 240px;
  color: white;
  margin-right: auto;
  margin-top: 20px;
  padding: 16px;
  text-transform: uppercase;
  background: black;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  backdrop-filter: blur(4px);
}
.main-button:hover {
  color: black;
  background: white;
}
.result-wrap {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  background: white;
  color: #000;
  padding: 22px 8px;
  height: 72px;
  font-weight: normal;
  font-size: 14px;
  transition: 0.5s;
  line-height: 28px;
  margin-right: 24px;
  margin-bottom: 0px;
  text-align: center;
  white-space: nowrap;
  display: none;
}
.cart-result-wrap {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  color: #000;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  transition: 0.5s;
  line-height: 28px;
  margin-bottom: 8px;
  text-align: center;
  white-space: nowrap;
}
.text-result {
  padding-left: 4px;
  padding-right: 4px;
  font-weight: bold;
  font-size: 19px;
  line-height: 32px;
}
.refresh-button {
  background: transparent;
  border: 2px solid #ffffff;
  width: 32px;
  height: 32px;
  margin-top: 16px;
  display: block;
  margin-left: auto;
}

.table-trash {
  display: none;
}
.refresh-button-image {
  padding-bottom: 3px;
  width: 16px;
  height: 16px;
}
.extend-title {
  text-transform: uppercase;
  padding-bottom: 24px;
  margin-bottom: 0;
}
.extend-elems {
  display: flex;
  flex-wrap: wrap;
}
.extend-item {
  transition: 0.5s;
  cursor: pointer;
  padding: 0 8px;
  margin-right: 16px;
  margin-bottom: 16px;
  border: 2px solid #ffffff;
  text-align: center;
  font-size: 18px;
  line-height: 28px;
}
.extend-item--active {
  background: white;
  color: #000;
}
.extend-button {
  margin-left: auto;
}
.line {
  height: 2px;
  background: white;
}
.bottom-block {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-text {
  padding-top: 8px;
  text-align: center;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
}
.order-button {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  border: 2px solid white;
  width: 100%;
  height: 32px;
  color: rgb(255, 255, 255);
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.small-toggle {
  display: none;
}
.order-button:hover {
  box-shadow: 0px 0px 15px 0px #ffffff;
}
.cart-count {
  padding-right: 4px;
}
.cart-image {
  padding-right: 2px;
  filter: invert(1);
  width: 20px;
}
.thank-you-link {
  border: 2px solid white;
  padding: 8px 16px;
  background: transparent;
  text-decoration: none;
  margin-top: 24px;
  color: white;
}
.thank-you-link:hover {
  color: white;
}
.thank-text {
  padding-bottom: 24px;
}
.cart-message-thank {
  background: #101010;
  margin: 0 auto;
  margin-top: 10%;
  z-index: 10;
  width: 700px;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #ffffff;
  padding-top: 42px;
  padding-bottom: 42px;
}
#small-order-button {
  display: none;
}

.change-button {
  border: none;
  background: transparent;
  position: absolute;
  top: 2%;
  right: 2%;
}
.change-image {
  width: 24px;
}
.col-wrap {
  position: relative;
}
@media screen and (max-width: 1400px) {
  .result-wrap {
    width: 240px;
  }

  .frame-glass-wrap {
    margin-left: -30px;
  }
}

@media screen and (max-width: 1200px) {
  .window-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
  }
  .window {
    margin: 0 auto;
  }
  .frame-glass-wrap {
    margin-left: -30px;
  }
  .border-bot {
    width: 400px;
    left: 16%;
  }
  .info-wrap {
    margin-top: 24px;
  }
  .result-wrap {
    padding: 0 8px;
    font-size: 14px;
    width: 200px;
  }
  .order-button {
    width: 80px;
  }
}
@media screen and (max-width: 992px) {
  .add-pos-dis-sm {
    margin-top: 16px;
  }
  .frame-glass-wrap {
    padding-top: 30px;
    margin-left: -100px;
  }
  .result-wrap {
    align-items: center;
    text-align: center;
    width: auto;
    font-size: 14px;
    padding: 0 8px;
  }
  .text-result {
    width: 70px;
    text-align: center;
  }
  .info-wrap {
    margin-top: 24px;
  }
  .order-button {
    width: 80px;
  }
  .result-wrap {
    margin-right: 0;
  }
  .table-price {
    width: 31%;
    right: 5%;
  }

  tbody td {
    height: 330px;
  }
}

@media screen and (max-width: 768px) {
  .cart-message {
    font-size: 24px;
    width: 90%;
    height: auto;
  }

  tbody td {
    height: 350px;
  }
  .pre-message-title {
    margin-top: 64px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
  }
  .add-pos-dis {
    display: flex;
  }
  .add-pos-dis-sm {
    display: none;
  }
  #big-order-button {
    display: none;
  }
  #small-order-button {
    display: block;
  }
  .big-toggle {
    display: none;
  }
  .top-section-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .small-toggle {
    display: block;
    margin-right: 30px;
  }
  .window-frame {
    max-width: 460px;
    max-height: 460px;
  }
  .window-glass {
    width: 213px;
    height: 432px;
  }
  .window-glass-double {
    width: 420px;
    height: 429px;
  }

  .window-glass-triple {
    width: 470px;
    height: 316px;
  }
  .window-glass-quad {
    width: 410px;
    height: 390px;
  }
  .border-bot {
    width: 400px;
    left: 20%;
  }
  .border-right {
    right: -16px;
    height: 450px;
    top: 9%;
  }
  .frame-glass-wrap {
    margin-left: -50px;
    margin-top: 70px;
  }
  .cart-result-wrap {
    height: 100px;
    padding: 16px 12px;
  }
  .result-wrap {
    width: 100%;
    justify-content: center;
  }
  .add-pos-dis {
    margin-left: 0;
    margin-right: auto;
    width: 95%;
  }
  .button-wrap {
    width: 100%;
  }
  .resul-wrap {
    margin-left: 0;
    width: auto;
    flex-wrap: wrap;
    margin-left: 0;
    width: 100%;
  }
  #small-order-button {
    margin-left: auto;
    height: 72px;
    width: 95%;
  }
}
@media screen and (max-width: 576px) {
  .table-price {
    width: 31%;
    right: 2%;
  }
  tbody td {
    height: auto;
  }
  .main-form {
    background: #000;
    width: 100%;
    padding: 24px;
    height: 464px;
  }
  .warning-block {
    left: 4%;
    top: 60px;
    width: 90%;
    height: 134px;
  }
  .warning-block-cart {
    bottom: 180%;
    right: 7%;
    width: 90%;
  }
  .main-order-button {
    margin-bottom: 16px;
  }
  .total-result-wrap {
    margin-bottom: 16px;
  }
  .resul-wrap {
    margin-left: 0;
    width: auto;
    flex-wrap: wrap;
  }
  .table-window-glass {
    width: 108px;
    height: 226px;
  }
  .table-window-glass-double {
    width: 231px;
    height: 229px;
    transform: translate(17%, 16%);
  }
  .table-window-glass-triple {
    width: 249px;
    height: 185px;
    transform: translate(11%, 38%);
  }

  .table-desc {
    width: 100%;
  }
  .resul-wrap {
    justify-content: space-between;
    width: 90%;
  }
  .table-window-glass-quad {
    width: 225px;
    height: 222px;
    transform: translate(18%, 19%);
  }
  table tr > * {
    display: block;
  }
  .window-frame {
    width: 300px;
    height: 300px;
  }
  .window-glass {
    width: 113px;
    height: 212px;
  }
  .window-glass-triple {
    width: 250px;
    height: 174px;
    transform: translate(10%, 33%);
  }
  .window-glass-quad {
    width: 219px;
    height: 206px;
  }
  .border-bot {
    width: 80%;
    right: 0;
  }
  .border-right {
    right: 45px;
    height: 310px;
  }
  .main-title {
    font-size: 28px;
  }
  .window-frame-mirror {
    width: 300px;
    height: 300px;
  }
  .frame-glass-wrap {
    margin-left: 25px;
    margin-top: 70px;
  }
  .window-glass-double {
    width: 222px;
    height: 227px;
  }
  .table-product,
  .table-desc,
  .table-count {
    display: none;
  }
  .button-table-trash {
    display: block;
    margin: 0 auto;
  }
  .cart-result-wrap {
    padding: 16px 12px;
  }
  .add-pos-dis {
    margin-left: 0;
    margin-right: auto;
    width: 95%;
  }
  .window {
    width: 52px;
    height: 64px;
  }

  .total-result-wrap {
    margin-right: 0px;
  }
}
@media screen and (max-width: 414px) {
  .resul-wrap {
    width: 100%;
  }
  .total-result-wrap {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .main-order-button {
    width: 100%;
  }
  .frame-glass-wrap {
    margin-left: 40px;
  }
  .border-right {
    right: -24px;
    height: 290px;
  }
  .border-bot {
    width: 80%;
    left: 10%;
  }
  .window {
    width: 48px;
    height: 64px;
  }
}

@media screen and (max-width: 375px) {
  .frame-glass-wrap {
    margin-left: 24px;
  }
}
@media screen and (max-width: 320px) {
  .frame-glass-wrap {
    margin-left: -8px;
  }
}
